@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/grotesque.css";

html,
body,
#__next {
  height: 100%;
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button{
    font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
}

@layer components {
    .container {
      padding: 0rem 32px;
      max-width: 1440px;
      margin: 0 auto;
    }
    .active{
      border: 1px solid white;
      border-radius: 17.5px;
      width: 35px;
      height: 35px;
      position: relative;
      text-align: center;
    }
    .active .activeText{
      position: relative;
      top: 1px;
    }

    .addtocart{
      -webkit-text-stroke: 0.03rem white;
    }
  }